<h1><%= @list.name %></h1>
<p><%= @bookmarks.each do |bookmark| %></p>
<%= link_to 'Retourner aux listes', lists_path %>

<%= link_to 'ajouter un bookmark', new_list_bookmark_path(@list)%>




<%= link_to "Delete", list_path(@list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
