<h1><%= @list.name %></h1>
<div><% @list.bookmarks.each do |bookmark| %>
<p><%= bookmark.comment %></p>
<p><%= bookmark.movie.title %></p>
<p><%= bookmark.movie.overview %></p>
<%= link_to "Delete", bookmark_path(bookmark),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
<% end %>
<%= link_to 'Retourner aux listes', lists_path %>

<%= link_to 'ajouter un bookmark', new_list_bookmark_path(@list)%>
